<html class="hljs">
<head>
<link rel="stylesheet" href="/Users/alundavies/git/canvas/collector/node_modules/highlight.js/styles/gruvbox-dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</head>
<body style="margin: 0 0; border: none; padding: 0 0">
<h1 style="font-size:6em">__FILE_NAME__</h1>
<pre style="white-space:pre">
    <code class="typescript">
        __FILE_CONTENTS__
    </code>
</pre>
</body>
</html>